@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: url(img/orcs_and_ogre_minis.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}

#logo {
    height: 40px;
    width: 150px;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 50px;
    background-image:url(img/banner.jpg);
    background-repeat:no-repeat;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: grey;
    font-size: 1.3em;
    float: left;
    
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: goldenrod;
    font-family: permanent marker;
    text-decoration:none;
    text-emphasis: bold;
    text-shadow: 3px 2px black;
    padding: 5px;
    border-radius: 4px;
    background-image:url(img/3-dice.png);
    background-size:cover;
    background-repeat:no-repeat;
    width: 150px;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #66bdff;
}

.charForm {
    border: 2px solid #338acc;
    margin-top:0px;
    padding-top:10px;
    background-color: #55acee;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.charForm label {
    display: inline-block;
    width: 75px;
    margin-left: 10px;
    font-size: 1.2em;
    float: left;
    color: white;
}

.charForm input[type=text]{
    float:left;
} 

.charForm input[type=number] {
    float:left;
    width: 100px;
}

#charAge {
    width: 100px;
}

#charRace{
    float:left;
} 

#charClass{
    float:left;
}

#removeCharName {
    margin-left: 20px;
    float: left;
}

.makeSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 90px;
    background-color: #55acee;
    border-radius: 2px;
    color: white;
    text-decoration: none;
    margin-left:20px;
}

.makeSubmit:link, .makeSubmit:visited, .makeSubmit:hover, .makeSubmit:active {
    color: white;
}

.makeSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}

.removeSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 120px;
    background-color: #55acee;
    border-radius: 2px;
    color: white;
    text-decoration: none;
    margin-left:20px;
}

.removeSubmit:link, .removeSubmit:visited, .removeSubmit:hover, .removeSubmit:active {
    color: white;
}

.removeSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}

.mainForm {
    width: 500px;
    height: 60%;
    padding-top: 2%;
    margin: 0 auto;
    text-align: center;
    margin-top:50px;
    font-size: 1.2em;
    background-image:url(img/paper.jpg);
    background-size: cover;
    font-family:permanent marker;
}

.mainForm input[type=text]{
    font-family: permanent marker;
}

.mainForm input[type=password]{
    font-family: permanent marker;
}

.mainForm input[type=submit]{
    font-family: permanent marker;
    width: auto;
    background-image:url(img/3-dice.png);
    background-size:cover;
    color: goldenrod;
    text-shadow: 3px 3px black;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: center;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #55acee;
    border-radius: 2px;
    border-color: #66acee;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 300px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

#formLabel{
    width:300px;
    text-align: center;
}

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#char {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

#chars p{
    padding-top: 45px;
    padding-left: 100px;
}

#chars {
    width: 40%;
    min-width: 400px;
    border: 2px solid #55acee;
    border-radius: 4px;
    margin: 0 auto;
}

.charList{
    background-image: url(img/paper.jpg);
    background-size: auto;
    font-family: permanent marker;
    padding-top: 10px;
    height: 100%
}

.charList p{
    font-size: 20px;
}

.char {
    width: 95%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 4px;
    
    padding: 10px;
    min-height:60px;
    overflow: hidden;
    font-family: 'Permanent Marker';
}

{
    transition: border-color 0.2s ease-out;
    transition: background-color 2.6s ease-out;
    background-color: #66bfff;
}

img.classLogo {
    height: 75px;
    width: 75px;
    border-radius: 4px;
    border: 3px solid black; 
    float:left;
    position: relative;
    left: -5px;
    top: -5px;
}

h3.empty {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.name {
    float:left;
    width: 400px;
    font-weight: bold;
    font-size: 1.5em;
    position: relative;
    left: -50px;
    top: 110px;;
}

h3.class {
    float: left;
    width: 400px;
    font-weight: bold;
    font-size: 1.5em;
    position: relative;
    left: -50px;
    top: 60px;
}

h3.past {
    float: right;
    width: 200px;
    font-weight: bold;
    font-size: 1em;
    position: relative;
    text-align: right;
    top: -10px;
}

h3.hp {
    float:right;
    width: 200px;
    font-weight: bold;
    font-size: 1.5em;
    position: relative;
    text-align: center;
    left:-50px;
    top: 150px;
}

h3.mp {
    float:left;
    width: 200px;
    font-weight: bold;
    font-size: 1.5em;
    position: relative;
    text-align: center;
    left:-100px;
    top: 150px;
}

h3.def {
    float:left;
    width: 200px;
    font-weight: bold;
    font-size: 1.5em;
    position: relative;
    left: -50px;
    top: 10px;
}

h3.speed {
    float:right;
    text-align: right;
    width: 250px;
    font-weight: bold;
    font-size: 1.5em;
    position: relative;
    top: -70px;
}

.heading{
    border: 5px;
    float: left;
    width: 430px;
    margin-left:150px;
    position: relative;
    top: -770px;
    padding-top: 10px;
}

.talent{
    float: right;
    text-align: center;
    width: 450px;
    margin-left: 80px;
    position: relative;
    top: -850px;
    border: 5px solid black;
    border-radius: 5px;
}

.talent ul li{
    list-style-type: none;
}

.inventory{
    float: right;
    text-align: center;
    width: 450px;
    margin-left: 80px;
    position: relative;
    top: -850px;
    border: 5px solid black;
    border-radius: 5px;
}

.inventory ul li{
    list-style-type: none;
}


.stats{
    position: relative;
    left: -15px;
    border: 5px;
    margin-top: 100px;
    padding-left:5px;
}

.stats h5{
    font-size: 11px;
    margin-top:-10px;
}

.stats ul{
    position: relative;
    left: 10px;
    top:-30px;
}

.focus{
    font-size: 10px;
    list-style-type: none;
    text-align: left;
    position: relative;
    left: -20px;
}


.char:first-child {
    margin-top: 10px;
}

.char:last-child {
    margin-bottom:10px;
}

#notFound {
    font-family: permanent marker;
    background-image: url(img/bookCover.jpg);
    background-size: cover;
    color: white;
    font-size: 30px;
    text-shadow: 3px 3px black;
    text-align: center;
    height: 70%;
    width:50%;
    margin-left: 25%;
    margin-top: 1%;
    padding-top: 10%;
}